@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-slate-50: 248 250 252;
    --color-slate-100: 241 245 249;
    --color-slate-200: 226 232 240;
    --color-slate-300: 203 213 225;
    --color-slate-400: 148 163 184;
    --color-slate-500: 100 116 139;
    --color-slate-600: 71 85 105;
    --color-slate-700: 51 65 85;
    --color-slate-800: 30 41 59;
    --color-slate-900: 15 23 42;
}
html {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-slate-200) / var(--tw-bg-opacity));
}
nav.side-nav {
    width: 260px;
    z-index: 50;
    margin-top: -1rem;
    overflow-x: hidden;
    padding: 3rem 1.25rem 4rem;
}
.content {
    padding: 0 22px;
    position: relative;
    margin-top: 0rem;
    min-height: 100vh;
    min-width: 0px;
    flex: 1 1 0%;
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-slate-100) / var(--tw-bg-opacity));
    padding-top:3rem;
    padding-bottom: .5rem;
}